body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}

html {
  font-size: 10px;
}

:root {
  --color-primary-peach: #e7816b;
  --color-primary-black: #1d1c1e;
  --color-primary-white: #ffffff;
  --color-secondary-peach: #ffad9b;
  --color-secondary-black: #333136;
  --color-secondary-white: #f1f3f5;
}

.page-enter {
  opacity: 0;
  transform: scale(1.1);
}

.page-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}

.page-exit {
  opacity: 1;
  transform: scale(1);
}

.page-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}
